---
import MainLayout from "../layout/MainLayout.astro";
import Header from "../components/Header.astro";
import Process from "../components/index-components/Process.astro";
import Linjer from "../components/kontaktcomponent/Linjer.astro";
import Linj from "../components/kontaktcomponent/Linj.astro";
import Forms from "../components/kontaktcomponent/Forms.astro";
import Kontaktinfo from "../components/kontaktcomponent/Kontaktinfo.astro";
import Footer from "../components/Footer.astro";
---

<MainLayout>
  <Header />
  <Forms />
  <Kontaktinfo />
  <Process />

  <section class="faq_wrapper">
    <h3>Oftest stillede spørgsmål</h3>
    <Linj />
    <Linjer topic="Hvilken maling maler i med?" text="Vi maler med acryl-vægmaling fra Beck & Jørgensen med EU Ecolabel." statusOpen={true} />
    <Linj />
    <Linjer topic="Maler I i hele Danmark?" text="Ja, vi tager offentlig transport rundt i hele landet og transportudgifterne kommer oveni den samlede pris. Vi køber de billigste billetter." statusOpen={true} />
    <Linj />
    <Linjer topic="Maler i også udendørs?" text="Nej." statusOpen={true} />
    <Linj />
    <Linjer topic="Kan man selv vælge baggrundsfarve?" text="Hvis du ønsker en bestemt baggrundsfarve, skal du selv have malet overfladen, inden vi kommer." statusOpen={true} />
    <Linj />
    <Linjer topic="Hvem sørger for materialer?" text="Vi medbringer selv maling og pensler." statusOpen={true} />
    <Linj />
    <Linjer topic="Hvad skal jeg have klar inden i kommer?" text="Du skal have dækket gulvet af omkring det sted vi skal male og sørger for stiger/ evt. stillads." statusOpen={true} />
    <Linj />
    <Linjer topic="Hvor lang tid ventetid er der?" text="Du skal kontakte os 1-2 måneder før, så vi kan sætte en dato af til dig." statusOpen={true} />
    <Linj />
    <Linjer topic="Kan man have indflydelse på farver og motiver I maler?" text="Du kan sagtens få indflydelse på farvevalg. Hav gerne nogle screenshots af tidligere værker vi har malet klar når vi kommer. Vi maler kun motiver inde for vores motivverden af menneskekroppe, havelementer og organiske former. Dialog om farver sker på selve male-dagen" statusOpen={true} />
    <Linj />
  </section>
  <button onclick="topFunction()" id="scrollToTopBtn" title="Gå til toppen">
    <span class="arrow-up"></span>
</button>
  <Footer />
</MainLayout>

<style>
  p,
  h3 {
    color: #00054e;
  }
  .faq_wrapper {
    margin-left: 12rem;
    margin-right: 12rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
  }

  h3 {
    margin-bottom: 1.5rem;
  }

  @media (max-width: 900px) {
    .faq_wrapper {
      margin: 3rem;
    }
  }
</style>

<script>
  import "/public/scripts/linjer.js";
  import "/public/scripts/scrollknap.js";
</script>
